.nav-container {
    width: 100%;
    background-color: #C4A484 !important;
    justify-content: space-evenly;
}

.nav-container a {
    text-decoration: none;
    color:forestgreen;
    font-weight: bold;
}