.app {
    background-color: #C4A484;
}

#layout {
  height: 100% !important;
}

.app #header{
  height: 20% !important;
}

.app #main-content{
  min-height: 70% !important;
  padding-top: 5%;
  padding-bottom: 22%;
}

.app #footer{
  height: 10% !important;
}
